<app-navigation></app-navigation>
<md-tab-group>
  <md-tab label="View Users">
    <div class="cards-tab">
      <h1 class="view-title">Available Users</h1>
      <md-card class="package-card" *ngFor="let user of usersArr">
        <md-card-header>
        </md-card-header>
        <md-card-content>
          <div>
            <label class="label-view">Name</label>
            <h4 class="data-view">{{user.name}}</h4>
            <label class="label-view">Email</label>
            <h4 class="data-view">{{user.email}}</h4>
            <label class="label-view">Username</label>
            <h4 class="data-view">{{user.username}}</h4>
            <label class="label-view">User Type</label>
            <h4 class="data-view">{{user.user_status}}</h4>
            <label class="label-view">Phone Number</label>
            <h4 class="data-view">{{user.phone_number}}</h4>
            <div *ngIf="user.user_type=='client'&&user.client_type!='guest'">
              <label class="label-view">Package Expiration Date</label>
              <h4 class="data-view">{{user.package_exp_date}}</h4>
            </div>
          </div>
          <div *ngIf="user.edit_enabled">
            <form (ngSubmit)="submitUserEdit()" [formGroup]="userFormEdit">
              <div class="form-group">
                <label>Name :</label>
                <input formControlName="name" type="text" class="form-control" >
              </div>
              <div class="form-group">
                <label for="pwd">Username:</label>
                <input formControlName="userName" type="text" class="form-control" >
              </div>
              <div class="form-group">
                <label for="pwd">Email:</label>
                <input formControlName="email" type="text" class="form-control" >
              </div>
              <div class="form-group">
                <label>Password :</label>
                <input formControlName="password" type="text" class="form-control" >
              </div>
              <div class="form-group">
                <label>Phone Number :</label>
                <input formControlName="phoneNumber" type="number" class="form-control" >
              </div>
              <div class="form-group">
                <select class="selectpicker" formControlName="adminStatus">
                  <option value="">Choose admin or client</option>
                  <option value="admin">admin</option>
                  <option value="client">client</option>
                </select>
              </div>
              <div class="form-group">
                <label>Package Name :</label>
                <select class="selectpicker" formControlName="packageId">
                  <option value="">Select Package</option>
                  <option value="">No Package</option>
                  <option *ngFor="let package of packagesArr" value="{{package._id}}">{{package.name[0].value}}</option>
                </select>
              </div>
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
          </div>
        </md-card-content>
        <md-card-actions class="card-actions">
          <button md-button (click)="showPasswordForm(user._id)" class="edit-button">Edit</button>
          <button class="delete-button" (click)="deleteUser(user._id)" md-button>Delete</button>
        </md-card-actions>
      </md-card>
    </div>
  </md-tab>
  <md-tab label="Add New User">
    <div class='container'>
      <form (ngSubmit)="submitUser()" [formGroup]="userForm">
        <div class="form-group">
          <label>Name :</label>
          <input formControlName="name" type="text" class="form-control" >
        </div>
        <div class="form-group">
          <label for="pwd">Username:</label>
          <input formControlName="userName" type="text" class="form-control" >
        </div>
        <div class="form-group">
          <label for="pwd">Email:</label>
          <input formControlName="email" type="text" class="form-control" >
        </div>
        <div class="form-group">
          <label>Password :</label>
          <input formControlName="password" type="text" class="form-control" >
        </div>
        <div class="form-group">
          <label>Phone Number :</label>
          <input formControlName="phoneNumber" type="number" class="form-control" >
        </div>
        <div class="form-group">
          <select class="selectpicker" formControlName="adminStatus">
            <option value="">Choose admin or client</option>
            <option value="admin">admin</option>
            <option value="client">client</option>
          </select>
        </div>
        <div class="form-group">
          <label>Package Name :</label>
          <select class="selectpicker" formControlName="packageId">
            <option value="">Select Package</option>
            <option value="">No Package</option>
            <option *ngFor="let package of packagesArr" value="{{package._id}}">{{package.name[0].value}}</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
    </md-tab>
</md-tab-group>
