<app-navigation></app-navigation>
<md-tab-group>
  <md-tab label="Accepted Requests">
    <div class="cards-tab">
      <h1 class="view-title">Accepted Requests</h1>
      <md-card class="package-card">
        <md-card-header>
          <md-card-title></md-card-title>
        </md-card-header>
      </md-card>
    </div>
  </md-tab>
  <md-tab label="Pending Requests">
      <div class="cards-tab">
        <h1 class="view-title">Pending Requests</h1>
        <md-card class="package-card">
          <md-card-header>
            <md-card-title></md-card-title>
          </md-card-header>
          <md-card-actions class="card-actions">
            <button md-button>Accept</button>
            <button class="delete-button" md-button>Reject</button>
          </md-card-actions>
        </md-card>
      </div>
    </md-tab>
    <md-tab label="Rejected Requests">
        <div class="cards-tab">
          <h1 class="view-title">Rejected Requests</h1>
          <md-card class="package-card">
            <md-card-header>
              <md-card-title></md-card-title>
            </md-card-header>
            <md-card-actions class="card-actions">
              <button md-button>Change to Pending</button>
              <button md-button>Accept</button>
            </md-card-actions>
          </md-card>
        </div>
      </md-tab>
</md-tab-group>