<app-navigation></app-navigation>
<body>
  <md-tab-group>
    <md-tab label="VIEW NEWS">
        <button class="btn btn-primary" (click)="sumbitdateclicked()">REFRESH</button>
          <button class="btn btn-primary" (click)="hide()">HIDE EDIT WINDOWS</button>
      <div class="cards-tab">
        <h1 class="view-title">Available News</h1>
        <md-card class="package-card" *ngFor="let offer of offersArray">
          <md-card-header>
                <div class="diva"> <img src="{{offer.img_path}}"></div>
                <md-card-title class="titlo">Title : {{offer.title[0].value}}</md-card-title>  <md-card-title class="titlo">{{offer.title[1].value}}</md-card-title>
            <md-card-title class="titlo"> Body : {{offer.body[0].value}}</md-card-title> <md-card-title class="titlo">{{offer.body[1].value}}</md-card-title>

          </md-card-header>
          <md-card-content>
              <div class="container" *ngIf="divVisable">
                <form (ngSubmit)="editsumbit()"  [formGroup]="editVoucherForm">
                  <div class="form-group">
                    <label>Title :</label>
                    <input type="text" class="form-control" id="titleng" formControlName="titleEnglish" value="{{offer.title[1].value}}"  >
                  </div>
                  <div class="form-group">
                    <label>Title Arabic:</label>
                    <input type="text" class="form-control" id="titlearr" formControlName="titleArabic"  value="{{offer.title[0].value}}">
                  </div>
                  <div class="form-group">
                    <label for="pwd">Description :</label>
                    <textarea class="form-control" id="descriptioneng" formControlName="descriptionEnglish" value="{{offer.body[1].value}}" ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="pwd">Description Arabic:</label>
                    <textarea class="form-control" id="descriptionarr" formControlName="descriptionArabic" value="{{offer.body[0].value}}"></textarea>
                  </div>
                  <div class="form-group">
                    <label>Image :</label>
                    <input type="file" class="form-control" id="img" (change)="pdfHandler($event)">
                  </div>
                  <button class="btn btn-primary" type="submit">Submit</button>

                </form>
              </div>




          </md-card-content>
          <md-card-actions class="card-actions">
            <button md-button (click)="edit(offer._id)">EDIT THIS NEWS</button>
            <button class="delete-button" (click)="delete(offer._id)" md-button>DELETE</button>
          </md-card-actions>

        </md-card>

      </div>


    </md-tab>


    <md-tab label="ADD NEW NEWS">
      <h1 class="view-title">Add new News</h1>
      <div class="container">
        <form  (ngSubmit)="createOffer()" [formGroup]="voucherForm">
          <div class="form-group">
            <label>Title :</label>
            <input type="text" class="form-control" id="titleng" formControlName="titleEnglish">
          </div>
          <div class="form-group">
            <label>Title Arabic:</label>
            <input type="text" class="form-control" id="titlearr" formControlName="titleArabic">
          </div>
          <div class="form-group">
            <label for="pwd">Description :</label>
            <textarea class="form-control" id="descriptioneng" formControlName="descriptionEnglish"></textarea>
          </div>
          <div class="form-group">
            <label for="pwd">Description Arabic:</label>
            <textarea class="form-control" id="descriptionarr" formControlName="descriptionArabic"></textarea>
          </div>
          <div class="form-group">
            <label>Image :</label>
            <input type="file" class="form-control" id="img" (change)="pdfHandler($event)">
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
          <label>{{err}}</label>

        </form>
      </div>
    </md-tab>
  </md-tab-group>
</body>
