<app-navigation></app-navigation>
<body>
<md-tab-group>
  <md-tab label="VIEW NEWS">
    <input placeholder="YEAR"#year><input placeholder="MONTH"#month><input placeholder="DAY"#day> <button class="btn btn--block" (click)="sumbitdateclicked(year.value,month.value,day.value)">sumbit </button>
<ul class="cards">
  <li class="cards__item" *ngFor="let news of newsArray">
    <div class="card">
      <div class="card__image"><img src= "https://wwees.buncombeschools.org/common/pages/UserFile.aspx?fileId=2564929" ></div>
      <div class="card__content">
        <div class="card__title"> {{news.title}} </div>
        <p class="card__text">{{news.body}} </p>
        <button class="btn btn--block card__btn" onclick="delete(news.title)" >DELETE</button>
      </div>
    </div>
  </li>
</ul>
  </md-tab>
  <md-tab label="ADD NEWS">
    <div class='wrap'>
      <form>
        <input  placeholder='TITLE' #titlet="">
        <input  placeholder='ID' #desct>
        <textarea   placeholder='BODY' #expt></textarea>
        <md-input-container>
            <input  mdInput [mdDatepicker]="picker" #expi>
            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
        </md-input-container>
          <md-datepicker #picker></md-datepicker>
        <p>
        </p>
        <button class="btn btn--block card__btn" (click)= "createNews(titlet.value,desct.value,expt.value,expi.value)" >ADD</button>
      </form>
    </div>
  </md-tab>
  <md-tab label="SEARCH">
    <div class="wrap">
    <input  placeholder='ENTER THE ID OF THE NEWS' #Password>
      <p>
      </p>
      <button class="btn btn--block card__btn">SEARCH</button>
    </div>
  </md-tab>
  <md-tab label="EDIT NEWS">
    <div class='wrap'>
      <form>
        <input  placeholder='TITLE' #title="">
        <input  placeholder='ID' #desc>
        <input   placeholder='BODY' #exp>
        <input   placeholder='DATE ' #points>
        <p>
        </p>
        <button class="btn btn--block card__btn" (click)="test()">EDIT</button>
      </form>
    </div>
  </md-tab>

  </md-tab-group>
</body>
