@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url(https://fonts.googleapis.com/css?family=Lato:300,500);

body{
  font-family: Lato;
  width: 100%;
}

.cards-tab{
  margin: auto;
  width: 75%;
}

.delete-button{
  color: white;
  background-color: #d50000;
}

.card-actions{
  text-align: right;
}

.view-title{
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}