
.wrapper {
    text-align: center;
}
.card {
  width: 500px;
  position: absolute;
   top: 32%;
   left: 32%;
   
  
}
.cardWrapper{
    text-align: left;
    
}
.cardButton {
    color: white;
    background-color: red;
}