<app-navigation></app-navigation>
<body>
<md-tab-group>
  <md-tab label="VIEW OFFERS">
    <input class="in" placeholder="YEAR"#year>
    <input class="in"placeholder="MONTH"#month>
    <input class="in" placeholder="DAY"#day>       <p>
          </p>
     <button class="btn in" (click)="sumbitdateclicked(year.value,month.value,day.value)">sumbit the since date </button>
<ul class="cards">
  <li class="cards__item" *ngFor="let offer of offersArray">
    <div class="card">
      <div class="card__image"> <img src="{{offer.img_path}}"></div>
      <div class="card__content">
        <div class="card__title"> {{offer.name[0].value}} </div>
        <p class="card__text">{{offer.description[0].value}} </p>
        <button class="btn btn--block card__btn" onclick="delete(offer.name)" >DELETE</button>
        <button class="btn btn--block card__btn" onclick="edit(offer.id)" >EDIT</button>
      </div>
    </div>
  </li>
</ul>
  </md-tab>

  <md-tab label="ADD OFFERS">

    <div class='wrap'>

      <form>
        <input  placeholder='TITLE' #name>
          <input  placeholder='TITLE IN ARABIC' #titlear>
        <p>
        </p>
        <textarea class="textarea" placeholder='DESCRIPTION' #descrip></textarea>
        <textarea class="textarea" placeholder='DESCRIPTION IN ARABIC' #descar></textarea>
         <md-input-container>
            <input  mdInput [mdDatepicker]="picker" placeholder=" EXP. DATE " #expi>
            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
        </md-input-container>
        <md-datepicker #picker></md-datepicker>


        <input   placeholder='GIVEN POINTS ' #pointss>
        <p>
        </p>
        <textarea  placeholder='CONDITIONS' #conditions></textarea>
            <textarea  placeholder='CONDITIONS IN ARABIC' #conditionar></textarea>
        <p>
        </p>
        <button class="btn btn--block card__btn" (click)= "createOffer(name.value,titlear.value,descrip.value,descar.value,expi.value,pointss.value,conditions.value,conditionar.value)" >SUMBIT OFFER DATA</button>
<div *ngIf="filesb">
        <input type="file" #file placeholder=' ADD OFFER PDF' (change)="pdfHandler($event)" multiple/>
        <p>
        </p>
          <button class="btn btn--block card__btn" (click)= "createOfferpdf()" >ADD OFFER PDF</button>
          <input type="file" #file placeholder=' ADD OFFER IMAGE ' (change)="pdfHandler($event)" multiple/>
          <p>
          </p>
            <button class="btn btn--block card__btn" (click)= "createOfferimg()" >ADD ADD OFFER IMAGE</button>
          </div>
      </form>
    </div>
    <div *ngIf="divVisable" class='wrap'>

      <form>
        <input  placeholder=' NEW TITLE' #title>
        <p>
        </p>
        <textarea class="textarea" placeholder=' NEW DESCRIPTION' #desc></textarea>
      <md-input-container>
          <input  mdInput [mdDatepicker]="test" #exp>
          <md-datepicker-toggle mdSuffix [for]="test"></md-datepicker-toggle>
      </md-input-container>
      <md-datepicker #test></md-datepicker>
        <input   placeholder=' NEW GIVEN POINTS ' #points>
        <p>
        </p>
        <textarea  placeholder='NEW CONDITIONS' #condition></textarea>
        <p>
        </p>
        <button class="btn btn--block card__btn" (click)= "editOffer(title.value,desc.value,exp.value,points.value,type.value,condition.value)" >SUMBIT OFFER DATA</button>

        <input type="file" #file placeholder=' ADD NEW OFFER PDF' (change)="pdfHandler($event)" multiple/>
        <p>
        </p>
          <button class="btn btn--block card__btn" (click)= "editOfferpdf()" >ADD NEW OFFER PDF</button>
          <input type="file" #file placeholder=' ADD NEW OFFER IMAGE ' (change)="pdfHandler($event)" multiple/>
          <p>
          </p>
            <button class="btn btn--block card__btn" (click)= "editOfferimg()" >ADD NEW OFFER IMAGE</button>
      </form>
    </div>
  </md-tab>



  </md-tab-group>
</body>
