<app-navigation></app-navigation>
<body>
  <md-tab-group>
    <md-tab label="VIEW OFFERS">
        <button class="btn btn-primary" (click)="sumbitdateclicked()">REFRESH</button>
        <button class="btn btn-primary" (click)="hide()">HIDE EDIT WINDOWS</button>
      <div class="cards-tab">
        <h1 class="view-title">Available Offers</h1>
        <md-card class="package-card" *ngFor="let offer of offersArray">
          <md-card-header>
                <div class="diva"> <img src="{{offer.img_path}}"></div>
                  <md-card-title class="titlo">Title:  {{offer.name[0].value}}</md-card-title>  <md-card-title class="titlo">{{offer.name[1].value}}</md-card-title>
            <md-card-title class="titlo"> Description :  {{offer.description[0].value}}</md-card-title> <md-card-title class="titlo">{{offer.description[1].value}}</md-card-title>
                        <md-card-title class="titlo"> Price : {{offer.price}}</md-card-title>
          </md-card-header>
          <md-card-content>
              <div class="container" *ngIf="divVisable">
                <form (ngSubmit)="editsumbit()"  [formGroup]="editVoucherForm">
                  <div class="form-group">
                    <label>Title :</label>
                    <input type="text" class="form-control" id="titleng" formControlName="titleEnglish" value="{{offer.name[1].value}}"  >
                  </div>
                  <div class="form-group">
                    <label>Title Arabic:</label>
                    <input type="text" class="form-control" id="titlearr" formControlName="titleArabic"  value="{{offer.name[0].value}}">
                  </div>
                  <div class="form-group">
                    <label for="pwd">Description :</label>
                    <textarea class="form-control" id="descriptioneng" formControlName="descriptionEnglish" value="{{offer.description[1].value}}" ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="pwd">Description Arabic:</label>
                    <textarea class="form-control" id="descriptionarr" formControlName="descriptionArabic" value="{{offer.description[0].value}}"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="pwd">Condition :</label>
                    <textarea class="form-control" id="conditioneng" formControlName="conditionEnglish" value="{{offer.condition[1].value}}" ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="pwd">Condition Arabic:</label>
                    <textarea class="form-control" id="conditionarr" formControlName="conditionArabic" value="{{offer.condition[0].value}}"></textarea>
                  </div>

                  <div class="form-group">
                    <label>Expiry Date</label>
                      <date-picker formControlName="newexpiryDate" ></date-picker>
                  </div>
                  <div class="form-group">
                    <label>Price :</label>
                    <input type="number" class="form-control" id="prices"  formControlName="points">
                  </div>
                  <div class="form-group">
                    <label>Image :</label>
                    <input type="file" class="form-control" id="img" (change)="pdfHandler($event)">
                  </div>
                  <button class="btn btn-primary" type="submit">Submit</button>

                </form>
              </div>




          </md-card-content>
          <md-card-actions class="card-actions">
            <button md-button (click)="edit(offer._id)">EDIT THIS OFFER</button>
            <button class="delete-button" (click)="delete(offer._id)" md-button>DELETE</button>
          </md-card-actions>

        </md-card>

      </div>


    </md-tab>


    <md-tab label="ADD NEW OFFER">
      <h1 class="view-title">Add New Offer</h1>
      <div class="container">
        <form  (ngSubmit)="createOffer()" [formGroup]="voucherForm">
          <div class="form-group">
            <label>Title :</label>
            <input type="text" class="form-control" id="titleng" formControlName="titleEnglish">
          </div>
          <div class="form-group">
            <label>Title Arabic:</label>
            <input type="text" class="form-control" id="titlearr" formControlName="titleArabic">
          </div>
          <div class="form-group">
            <label for="pwd">Description :</label>
            <textarea class="form-control" id="descriptioneng" formControlName="descriptionEnglish"></textarea>
          </div>
          <div class="form-group">
            <label for="pwd">Description Arabic:</label>
            <textarea class="form-control" id="descriptionarr" formControlName="descriptionArabic"></textarea>
          </div>
          <div class="form-group">
            <label for="pwd">Condition :</label>
            <textarea class="form-control" id="conditioneng" formControlName="conditionEnglish"></textarea>
          </div>
          <div class="form-group">
            <label for="pwd">Condition Arabic:</label>
            <textarea class="form-control" id="conditionarr" formControlName="conditionArabic"></textarea>
          </div>

          <div class="form-group">
            <label>Expiry Date</label>
              <date-picker formControlName="expiryDate"></date-picker>
          </div>
          <div class="form-group">
            <label>Price :</label>
            <input type="number" class="form-control" id="prices" formControlName="points">
          </div>
          <div class="form-group">
            <label>Image :</label>
            <input type="file" class="form-control" id="img" (change)="pdfHandler($event)">
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
            <label>{{eror}}</label>
        </form>

      </div>
    </md-tab>
  </md-tab-group>
</body>
